<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - AuxChain</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.8.2/web3.min.js"
            integrity="sha512-Ls8WO4Esu7Jb9a92BfIp1Ftgl9t5Ncaa/6zKzpOkTGXW+dPcJcI4Yz2HR7cXY0YcfIAsL7R9Gqfbw8ERX8iYaA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url "auxchain:overview" %}">AuxChain</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "auxchain:overview" %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "auxchain:create" %}">Create auction</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if not user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#" onclick="startSignIn();">Login using Metamask</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {{ request.user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url "auxchain:logout" %}">Logout</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock content %}

</body>
{% block scripts %}
{% endblock scripts %}
<script type="text/javascript">
    async function startSignIn() {
        if (window.ethereum.isMetaMask) {
            console.log("Metamask present");
            const provider = await detectEthereumProvider();
            if (provider) {
                console.log("Connected to metamask");
                const accounts = await window.ethereum.request({method: 'eth_requestAccounts'});
                if (accounts.length > 0) {
                    const account = accounts[0];
                    console.log("Selected account ", account);
                    requestNonce(account);
                }
                console.log(accounts);
            } else {
                console.log("Cannot connect to metamask");
            }
        } else {
            console.log("Not metamask");
        }
    }

    function requestNonce(publicAddress) {
        $.ajax({
                url: '{% url "auxchain:api:requestnonce" 0 %}'.replace('0', publicAddress),
                contentType: "application/json",
                dataType: 'json',
                success: async function (result) {
                    console.log(result);
                    console.log(result.success);
                    if (result.success) {
                        console.log("Requesting personal sign with ", result.nonce, " for ", publicAddress);
                        const signed = await window.ethereum.request({
                            method: 'personal_sign',
                            params: [result.nonce, publicAddress]
                        })
                        console.log(signed)
                        $.ajax({
                            url: '{% url "auxchain:api:requestnonce" 0 %}'.replace('0', publicAddress),
                            type: 'POST',
                            data: {
                                'signature': signed,
                            },
                            success: async function (result) {
                                if (result.message == "ok") {
                                    location.reload();
                                } else {
                                    // TODO: Handle invalid login.
                                }
                            }
                        });
                    } else {
                        if (result.error === "NoSuchUser") {
                            // TODO: Start Registration
                        }
                    }
                }
            }
        )
    }
</script>

</html>