{% extends "base.html" %}
{% load static %}
{% block title %}New Auction{% endblock %}
{% block head %}
<script type="text/javascript" src="{% static "deploy.js" %}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid px-5">
    <form action="javascript:listAuction('{% url "auxchain:api:add_contract" 0 %}', '{% url "auxchain:view" 0 %}');">
        <div class="mb-3 mx-5">
            <label for="imageURL" class="form-label">Image URL</label>
            <input type="url" class="form-control" id="imageURL" required>
        </div>
        <div class="mb-3 mx-5">
            <label for="title" class="form-label">Auction Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="mb-3 mx-5">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description" required>
        </div>
        <div class="mb-3 mx-5">
            <label for="price" class="form-label">Starting price</label>
            <input type="number" class="form-control" id="price" name="price" required>
        </div>
        <div class="mb-3 mx-5">
            <label for="duration" class="form-label">Duration (in hours from creation)</label>
            <input type="number" class="form-control" id="duration" name="duration" min="0" max="24" placeholder="hours" required>
        </div>
        <div class="mb-3 mx-5">
            <label for="buyerDeposit" class="form-label">Buyer Deposit</label>
            <input type="number" class="form-control" id="buyerDeposit" name="buyerDeposit" min="0" required>
        </div>
        <div class="mb-3 mx-5">
            <label for="sellerDeposit" class="form-label">Your seller deposit</label>
            <input type="number" class="form-control" id="sellerDeposit" name="sellerDeposit" min="0" required>
        </div>
        <div class="m-5">
            <button type="submit" class="btn btn-primary" id="submit">List auction</button>
        </div>
    </form>
</div>
{% endblock %}