{% include "base.html" %}
{% include "contract.html" %}
<div class="container-fluid px-5">
    <form>
        <div class="mb-3 mx-5">
            <label for="Images" class="form-label">Images</label>
            <input type="file" class="form-control" id="Images" multiple required>
        </div>
        <div class="mb-3 mx-5">
            <label for="ItemName" class="form-label">Item Name</label>
            <input type="text" class="form-control" id="ItemName" required>
        </div>
        <div class="mb-3 mx-5">
            <label for="Deposit" class="form-label">Deposit</label>
            <input type="number" class="form-control" id="Deposit" required>
        </div>
        <div class="mb-3 mx-5">
            <label for="MinTime" class="form-label">Minimum Time</label>
            <input type="number" class="form-control" id="MinTime" min="0" max="24" placeholder="hours" required>
        </div>
        <div class="m-5">
            <button type="submit" class="btn btn-primary">List</button>
        </div>
    </form>
</div>