{% extends "base.html" %}
{% load humanize %}

{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <h2>Current auctions</h2>
        {% if auctions %}
            <div class="row">
                {% for auction in auctions %}
                    <div class="col-lg-3">
                        <div class="card mt-3">
                            <img src="https://www.schoolplaten.com/afbeelding-eend-dm20017.jpg" class="card-img-top"
                                 alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ auction.title }}</h5>
                                <p class="card-text">{{ auction.description }}
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Current bid:</strong> 50 ETH</li>
                                <li class="list-group-item"><strong>End time:</strong> {{ auction.end_time|naturaltime }}</li>
{#                                <li class="list-group-item"><strong>Seller:</strong> {{ auction.seller }}</li>#}
{#                                <li class="list-group-item"><strong>Seller#}
{#                                    deposit:</strong> {{ auction.seller_deposit }}#}
{#                                </li>#}
{#                                <li class="list-group-item"><strong>Buyer deposit:</strong> {{ auction.buyer_deposit }}#}
{#                                </li>#}
                            </ul>
                            <div class="card-body">
                                <a href="{% url "auxchain:api:view_contract" auction.contract_address %}"
                                   class="btn btn-primary">Go to auction</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                <div class="col-3">
                    <p>There are no current auctions.</p>
                </div>
                <div class="col-3">
                    <a class="btn btn-primary" href="{% url "auxchain:create" %}">Want to create one?</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}